<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets  
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Email&utm_source=Nurture&utm_content=000026UJ&utm_term=10006555&utm_id=SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Email&utm_source=Nurture&utm_content=000026UJ&utm_term=10006555&utm_id=SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Email&utm_source=Nurture&utm_content=000026UJ&utm_term=10006555&utm_id=SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

-   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv" target="_blank">Chicago Census Data</a>

-   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv" target="_blank">Chicago Public Schools</a>

-   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/LoadingData.png">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as follows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql;

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     |████████████████████████████████| 6.0 MB 11.9 MB/s eta 0:00:01
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1207767 sha256=d4374b59e9000673d8e4eea7cec74d74a360cc319fa70967681e6817975ea0a2
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.17
    Uninstalling SQLAlchemy-1.3.17:
      Successfully uninstalled SQLAlchemy-1.3.17
Successfully installed sqlalchemy-1.3.9
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: ibm_db_sa in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (0.3.5)
Requirement already satisfied: sqlalchemy>=0.7.3 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm-db>=2.0.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ibm_db_sa) (3.0.2)
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.tar.bz2 (21 kB)
Requirement already satisfied: six in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (1.15.0)
Collecting sqlparse
  Downloading sqlparse-0.4.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 2.2 MB/s  eta 0:00:01
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (7.15.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.5)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (47.3.1.post20200622)
Requirement already satisfied: pygments in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: jedi>=0.10 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13698 sha256=6588e5f8d39fe90f12c2d47fb79ca701e393935ab752aa778ff6d744975ea72a
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/8c/76/0b/eb9eb3da7e2335e3577e3f96a0ae9f74f206e26457bd1a2bc8
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.1

In [2]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

In [4]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://cwb66790:2tv9+mjt28brc08q@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

 * ibm_db_sa://cwb66790:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB

'Persisted chicago_crime_data'

In [63]:
%sql SELECT COUNT(*) AS TOTAL_NUMBER_OF_CRIME FROM CHICAGO_CRIME_DATA ;

 * ibm_db_sa://cwb66790:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [64]:
%sql SELECT COMMUNITY_AREA_NAME, PER_CAPITA_INCOME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://cwb66790:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?

In [65]:
%sql SELECT "index" ,COMMUNITY_AREA_NUMBER ,COMMUNITY_AREA_NAME ,PERCENT_AGED_16__UNEMPLOYED ,PER_CAPITA_INCOME ,HARDSHIP_INDEX FROM CENSUS_DATA

 * ibm_db_sa://cwb66790:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(0, 1.0, 'Rogers Park', 8.7, 23939, 39.0),
 (1, 2.0, 'West Ridge', 8.8, 23040, 46.0),
 (2, 3.0, 'Uptown', 8.9, 35787, 20.0),
 (3, 4.0, 'Lincoln Square', 8.2, 37524, 17.0),
 (4, 5.0, 'North Center', 5.2, 57123, 6.0),
 (5, 6.0, 'Lake View', 4.7, 60058, 5.0),
 (6, 7.0, 'Lincoln Park', 5.1, 71551, 2.0),
 (7, 8.0, 'Near North Side', 7.0, 88669, 1.0),
 (8, 9.0, 'Edison Park', 6.5, 40959, 8.0),
 (9, 10.0, 'Norwood Park', 9.0, 32875, 21.0),
 (10, 11.0, 'Jefferson Park', 12.4, 27751, 25.0),
 (11, 12.0, 'Forest Glen', 6.8, 44164, 11.0),
 (12, 13.0, 'North Park', 9.9, 26576, 33.0),
 (13, 14.0, 'Albany Park', 10.0, 21323, 53.0),
 (14, 15.0, 'Portage Park', 12.6, 24336, 35.0),
 (15, 16.0, 'Irving Park', 10.0, 27249, 34.0),
 (16, 17.0, 'Dunning', 10.0, 26282, 28.0),
 (17, 18.0, 'Montclaire', 13.8, 22014, 50.0),
 (18, 19.0, 'Belmont Cragin', 14.6, 15461, 70.0),
 (19, 20.0, 'Hermosa', 13.1, 15089, 71.0),
 (20, 21.0, 'Avondale', 9.2, 20039, 42.0),
 (21, 22.0, 'Logan Square', 8.2, 31908, 23.0),
 (22, 23.0, 'Humboldt park', 17.3, 13781, 85.0),
 (23, 24.0, 'West Town', 6.6, 43198, 10.0),
 (24, 25.0, 'Austin', 22.6, 15957, 73.0),
 (25, 26.0, 'West Garfield Park', 25.8, 10934, 92.0),
 (26, 27.0, 'East Garfield Park', 19.6, 12961, 83.0),
 (27, 28.0, 'Near West Side', 10.7, 44689, 15.0),
 (28, 29.0, 'North Lawndale', 21.2, 12034, 87.0),
 (29, 30.0, 'South Lawndale', 15.8, 10402, 96.0),
 (30, 31.0, 'Lower West Side', 15.8, 16444, 76.0),
 (31, 32.0, 'Loop', 5.7, 65526, 3.0),
 (32, 33.0, 'Near South Side', 4.9, 59077, 7.0),
 (33, 34.0, 'Armour Square', 16.7, 16148, 82.0),
 (34, 35.0, 'Douglas', 18.2, 23791, 47.0),
 (35, 36.0, 'Oakland', 28.7, 19252, 78.0),
 (36, 37.0, 'Fuller Park', 33.9, 10432, 97.0),
 (37, 38.0, 'Grand Boulevard', 24.3, 23472, 57.0),
 (38, 39.0, 'Kenwood', 15.7, 35911, 26.0),
 (39, 40.0, 'Washington Park', 28.6, 13785, 88.0),
 (40, 41.0, 'Hyde Park', 8.4, 39056, 14.0),
 (41, 42.0, 'Woodlawn', 23.4, 18672, 58.0),
 (42, 43.0, 'South Shore', 20.0, 19398, 55.0),
 (43, 44.0, 'Chatham', 24.0, 18881, 60.0),
 (44, 45.0, 'Avalon Park', 21.1, 24454, 41.0),
 (45, 46.0, 'South Chicago', 19.7, 16579, 75.0),
 (46, 47.0, 'Burnside', 18.6, 12515, 79.0),
 (47, 48.0, 'Calumet Heights', 20.0, 28887, 38.0),
 (48, 49.0, 'Roseland', 20.3, 17949, 52.0),
 (49, 50.0, 'Pullman', 22.8, 20588, 51.0),
 (50, 51.0, 'South Deering', 16.3, 14685, 65.0),
 (51, 52.0, 'East Side', 12.1, 17104, 64.0),
 (52, 53.0, 'West Pullman', 19.4, 16563, 62.0),
 (53, 54.0, 'Riverdale', 34.6, 8201, 98.0),
 (54, 55.0, 'Hegewisch', 9.6, 22677, 44.0),
 (55, 56.0, 'Garfield Ridge', 11.3, 26353, 32.0),
 (56, 57.0, 'Archer Heights', 16.5, 16134, 67.0),
 (57, 58.0, 'Brighton Park', 13.9, 13089, 84.0),
 (58, 59.0, 'McKinley Park', 13.4, 16954, 61.0),
 (59, 60.0, 'Bridgeport', 13.7, 22694, 43.0),
 (60, 61.0, 'New City', 23.0, 12765, 91.0),
 (61, 62.0, 'West Elsdon', 16.7, 15754, 69.0),
 (62, 63.0, 'Gage Park', 18.2, 12171, 93.0),
 (63, 64.0, 'Clearing', 9.5, 25113, 29.0),
 (64, 65.0, 'West Lawn', 9.6, 16907, 56.0),
 (65, 66.0, 'Chicago Lawn', 17.1, 13231, 80.0),
 (66, 67.0, 'West Englewood', 35.9, 11317, 89.0),
 (67, 68.0, 'Englewood', 28.0, 11888, 94.0),
 (68, 69.0, 'Greater Grand Crossing', 23.0, 17285, 66.0),
 (69, 70.0, 'Ashburn', 11.7, 23482, 37.0),
 (70, 71.0, 'Auburn Gresham', 28.3, 15528, 74.0),
 (71, 72.0, 'Beverly', 8.0, 39523, 12.0),
 (72, 73.0, 'Washington Height', 20.8, 19713, 48.0),
 (73, 74.0, 'Mount Greenwood', 8.7, 34381, 16.0),
 (74, 75.0, 'Morgan Park', 15.0, 27149, 30.0),
 (75, 76.0, "O'Hare", 7.1, 25828, 24.0),
 (76, 77.0, 'Edgewater', 9.2, 33385, 19.0),
 (77, None, 'CHICAGO', 12.9, 28202, None)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [66]:
%sql SELECT "index" ,COMMUNITY_AREA_NUMBER ,COMMUNITY_AREA_NAME ,PERCENT_AGED_16__UNEMPLOYED ,PER_CAPITA_INCOME ,HARDSHIP_INDEX FROM CENSUS_DATA WHERE "index" = '0'

 * ibm_db_sa://cwb66790:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(0, 1.0, 'Rogers Park', 8.7, 23939, 39.0)]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [69]:
%sql SELECT CAST(PRIMARY_TYPE AS VARCHAR) FROM  CHICAGO_CRIME_DATA ccd GROUP BY CAST(PRIMARY_TYPE AS VARCHAR);

 * ibm_db_sa://cwb66790:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('ARSON',),
 ('ASSAULT',),
 ('BATTERY',),
 ('BURGLARY',),
 ('CONCEALED CARRY LICENSE VIOLATION',),
 ('CRIM SEXUAL ASSAULT',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('DECEPTIVE PRACTICE',),
 ('DOMESTIC VIOLENCE',),
 ('GAMBLING',),
 ('HOMICIDE',),
 ('HUMAN TRAFFICKING',),
 ('INTERFERENCE WITH PUBLIC OFFICER',),
 ('INTIMIDATION',),
 ('KIDNAPPING',),
 ('LIQUOR LAW VIOLATION',),
 ('MOTOR VEHICLE THEFT',),
 ('NARCOTICS',),
 ('NON - CRIMINAL',),
 ('NON-CRIMINAL',),
 ('NON-CRIMINAL (SUBJECT SPECIFIED)',),
 ('OBSCENITY',),
 ('OFFENSE INVOLVING CHILDREN',),
 ('OTHER NARCOTIC VIOLATION',),
 ('OTHER OFFENSE',),
 ('PROSTITUTION',),
 ('PUBLIC INDECENCY',),
 ('PUBLIC PEACE VIOLATION',),
 ('RITUALISM',),
 ('ROBBERY',),
 ('SEX OFFENSE',),
 ('STALKING',),
 ('THEFT',),
 ('WEAPONS VIOLATION',)]

### Problem 6

##### List the average safety score for all types of schools.

In [77]:
%sql SELECT AVG(safety_score) AS the_average_safety_score FROM CHICAGO_PUBLIC_SCHOOLS;

 * ibm_db_sa://cwb66790:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(49.50487329434698,)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [78]:
%sql SELECT * FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5 ;

 * ibm_db_sa://cwb66790:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(53, 54.0, 'Riverdale', 5.8, 56.5, 34.6, 27.5, 51.5, 8201, 98.0),
 (36, 37.0, 'Fuller Park', 3.2, 51.2, 33.9, 26.6, 44.9, 10432, 97.0),
 (67, 68.0, 'Englewood', 3.8, 46.6, 28.0, 28.5, 42.5, 11888, 94.0),
 (28, 29.0, 'North Lawndale', 7.4, 43.1, 21.2, 27.6, 42.7, 12034, 87.0),
 (26, 27.0, 'East Garfield Park', 8.2, 42.4, 19.6, 21.3, 43.2, 12961, 83.0)]

### Problem 8

##### Which community area is most crime prone?

In [87]:
%%sql 
SELECT community_area_name FROM CENSUS_DATA ORDER BY community_area_number DESC LIMIT 1 ;

 * ibm_db_sa://cwb66790:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('CHICAGO',)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [88]:
%%sql
select community_area_name FROM CENSUS_DATA where hardship_index = (select max(hardship_index) from  CENSUS_DATA)

 * ibm_db_sa://cwb66790:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [89]:
%%sql
select community_area_name FROM CENSUS_DATA where community_area_number = (select max(community_area_number) from  CENSUS_DATA)

 * ibm_db_sa://cwb66790:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Edgewater',)]

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Email&utm_source=Nurture&utm_content=000026UJ&utm_term=10006555&utm_id=SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>